<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
		
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L [%t] - %m%n
			</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender> 

	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/betterreads-service/logs/betterreads-service.log
		</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/home/betterreads-service/logs/betterreads-service.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L [%t] - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.springboot" level="debug" additivity="false">
		<appender-ref ref="FILE-ROLLING" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework" level="debug"
		additivity="false">
		<appender-ref ref="FILE-ROLLING" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- <root level="info">
		<appender-ref ref="FILE-ROLLING" />
		<appender-ref ref="CONSOLE" />
	</root> -->
</configuration>